<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ToAnomalieControle</servlet-name>
        <servlet-class>servlet.ToAnomalieControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererControle</servlet-name>
        <servlet-class>servlet.InsererControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToDetailRecolte</servlet-name>
        <servlet-class>servlet.ToDetailRecolte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererRecolte</servlet-name>
        <servlet-class>servlet.InsererRecolte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrUpdateRecolteParcelle</servlet-name>
        <servlet-class>servlet.InsertOrUpdateRecolteParcelle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertOrUpdateRecolte2</servlet-name>
        <servlet-class>servlet.insertOrUpdateRecolte2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToAnomalieControle</servlet-name>
        <url-pattern>/ToAnomalieControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererControle</servlet-name>
        <url-pattern>/InsererControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToDetailRecolte</servlet-name>
        <url-pattern>/ToDetailRecolte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererRecolte</servlet-name>
        <url-pattern>/InsererRecolte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrUpdateRecolteParcelle</servlet-name>
        <url-pattern>/InsertOrUpdateRecolteParcelle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertOrUpdateRecolte2</servlet-name>
        <url-pattern>/insertOrUpdateRecolte2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
